// Cherry picked gradients from https://uigradients.com/
$gradient-Autumn: linear-gradient(30deg, hsl(53, 47%, 73%), hsl(133, 36%, 77%));
$gradient-Blu: linear-gradient(198deg, hsl(210, 4%, 90%), hsl(203, 100%, 21%));
$gradient-BoraBora: linear-gradient(45deg, hsl(192, 77%, 53%), hsl(63, 50%, 85%));
$gradient-Candy: linear-gradient(45deg, hsl(354, 41%, 71%), hsl(113, 47%, 82%));
$gradient-Celestial: linear-gradient(326deg, hsl(341, 56%, 49%), hsl(234, 59%, 28%));
$gradient-ChittyChittyBangBang: linear-gradient(25deg, hsl(190, 100%, 28%), hsl(162, 100%, 74%));
$gradient-Coal: linear-gradient(45deg, hsl(0, 79%, 63%), hsl(0, 0%, 0%));
$gradient-Dawn: linear-gradient(240deg, hsl(24, 87%, 63%), hsl(231, 31%, 34%));
$gradient-EdsSunsetGradient: linear-gradient(225deg, hsl(12, 100%, 69%), hsl(26, 98%, 74%));
$gradient-EveningNight: linear-gradient(20deg, hsl(208, 100%, 33%), hsl(56, 100%, 95%));
$gradient-FreshTorboscent: linear-gradient(150deg, hsl(61, 70%, 83%), hsl(187, 64%, 21%));
$gradient-Frozen: linear-gradient(18deg, hsl(260, 11%, 26%), hsl(63, 51%, 82%));
$gradient-Harvey: linear-gradient(18deg, hsl(164, 34%, 24%), hsl(152, 77%, 77%));
$gradient-HoneyDue: linear-gradient(200deg, hsl(65, 100%, 84%), hsl(168, 53%, 52%));
$gradient-Horizon: linear-gradient(30deg, hsl(210, 100%, 23%), hsl(60, 43%, 82%));
$gradient-KyooPal: linear-gradient(80deg, hsl(352, 70%, 55%), hsl(133, 70%, 66%));
$gradient-Mild: linear-gradient(140deg, hsl(126, 33%, 55%), hsl(200, 56%, 55%));
$gradient-Mojito: linear-gradient(15deg, hsl(159, 68%, 35%), hsl(142, 89%, 78%));
$gradient-MonteCarlo: linear-gradient(218deg, hsl(313, 35%, 69%), hsl(49, 35%, 78%), hsl(213, 49%, 65%));
$gradient-MoonlitAsteroid: linear-gradient(90deg, hsl(198, 44%, 11%), hsl(195, 35%, 19%), hsl(198, 39%, 28%));
$gradient-Moss: linear-gradient(250deg, hsl(193, 66%, 22%), hsl(134, 30%, 57%));
$gradient-NeonLife: linear-gradient(145deg, hsl(114, 100%, 84%), hsl(178, 100%, 54%));
$gradient-OrangeCoral: linear-gradient(30deg, hsl(20, 100%, 70%), hsl(359, 100%, 68%));
$gradient-PacificDream: linear-gradient(25deg, hsl(155, 80%, 56%), hsl(197, 63%, 16%));
$gradient-Peach: linear-gradient(340deg, hsl(348, 78%, 68%), hsl(44, 100%, 87%));
$gradient-PurpleParadise: linear-gradient(25deg, hsl(228, 55%, 25%), hsl(342, 75%, 89%));
$gradient-Quepal: linear-gradient(25deg, hsl(175, 80%, 33%), hsl(143, 85%, 58%));
$gradient-RelaxingRed: linear-gradient(195deg, hsl(54, 100%, 92%), hsl(348, 89%, 37%));
$gradient-RoseColoredLenses:linear-gradient(130deg, hsl(16, 47%, 83%), hsl(229, 26%, 52%));
$gradient-ShaLaLa: linear-gradient(60deg, hsl(355, 56%, 63%), hsl(9, 61%, 71%));
$gradient-Shifty: linear-gradient(45deg, hsl(0, 0%, 39%), hsl(67, 33%, 51%));
$gradient-SirusTamed: linear-gradient(30deg, hsl(60, 62%, 84%), hsl(246, 13%, 85%));
$gradient-UnderTheLake: linear-gradient(25deg, hsl(168, 68%, 11%), hsl(156, 55%, 31%));
$gradient-VelvetSun: linear-gradient(160deg, hsl(78, 56%, 85%), hsl(359, 84%, 63%));
$gradient-WarmGalaxy: linear-gradient(270deg, hsl(10, 35%, 60%), hsl(229, 16%, 27%));

:root {
  --gradient-primary: #{$gradient-Candy};
}
